<div id="right-bar">
  <div class="bg-light main-title">
    <h2><i class="fas fa-tachometer-alt"></i> Dashboard</h2>
    <div class="front-nav-bar">
      Dashboard
    </div>
  </div>
  <div class="jumbotron dis content-area">
    <div id="home-tiles">
      <div class="row">
        <div class="col-lg-6 col-xl-3">
          <div class="card">
            <div class="card-header bg-primary">Customers</div>
            <div class="card-body">
              <div class="dash-tile-icon"><i class="fas fa-users"></i></div>
              <div class="dash-tile-text"><h2>46</h2></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-3">
          <div class="card">
            <div class="card-header bg-primary">Items</div>
            <div class="card-body">
              <div class="dash-tile-icon"><i class="fas fa-cubes"></i></div>
              <div class="dash-tile-text"><h2>93</h2></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-3">
          <div class="card">
            <div class="card-header bg-primary">Order Details</div>
            <div class="card-body">
              <div class="dash-tile-icon"><i class="fas fa-shopping-cart"></i></div>
              <div class="dash-tile-text"><h2>224</h2></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-3">
          <div class="card">
            <div class="card-header bg-primary">Settings</div>
            <div class="card-body">
              <div class="dash-tile-icon"><i class="fas fa-cogs"></i></div>
              <div class="dash-tile-text">
                <h2>
                  <button class="btn btn-danger"><b>Change</b></button>
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
