<div id="right-bar">
  <div class="bg-light main-title">
    <h2><i class="fas fa-cubes"></i> Item Pane</h2>
    <div class="front-nav-bar">
      Dashboard--> <b>Items</b>
    </div>
  </div>

  <div class="jumbotron dis content-area">
    <div class="row">
      <div class="col-sm-7">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-header bg-primary">Item Search</div>
            <div class="card-body">

              <!---->


              <div class="form-group">
                <form #frmItems="ngForm">
                  <input type="text" name="iname" class="form-control"
                         placeholder="Input Item (Name/Code) Here"
                         id="iname">
                </form>
              </div>

              <!---->
              <div class="form-group form-inline">
                <button type="button" id="btnitemSearch" class="btn btn-primary">
                  Search
                </button>
              </div>

              <!---->

              <select class="form-control">
                <option>Name</option>
                <option>Item Code</option>
              </select>

            </div>

          </div>

        </div>


        <div class="form-action-buttons">
          <div class="btn-group">
            <button type="button" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-info">Details</button>
            <button type="button" class="btn btn-success" onclick="ClearFields();">Clear</button>
          </div>
        </div>

      </div>
      <

      <div class="col-lg-6 menu-button-group">
        <div class="center-on-lg">
          <!--<div class="btn-group">-->

          <!--<button type="button" class="btn btn-info nb" data-toggle="modal"-->
          <!--data-target="#myModalItem">New Item-->
          <!--</button>-->
          <!--<button type="button" class="btn btn-warning">View All Items</button>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>

  <!--Modal-->

  <div class="col-sm-10" style="background-color: #d9f1e3">
    <form (ngSubmit)="saveItem()" #frmItems="ngForm">
      <br>

      <div class="form-group">
        <label>Item Code</label>
        <input #txtCode type="text" name="txtCode" [(ngModel)]="selectedItem.code" class="form-control" id="itemCode"
               placeholder="Input Item Code">
      </div>

      <div class="form-group">
        <label>Item Description</label>
        <input #txtDescription type="text" name="txtDescription" [(ngModel)]="selectedItem.description"
               class="form-control"
               id="itemDescription"
               placeholder="Input Item Description">
      </div>

      <div class="form-group">
        <label>Unit Price</label>
        <input #txtUnitPrice type="text" name="txtunitprice" [(ngModel)]="selectedItem.unitPrice" class="form-control"
               id="itemPrice"
               placeholder="Input Item UnitPrice">
      </div>

      <div class="form-group">
        <label>Qty On Hand</label>
        <input #txtQtyOnHand type="text" name="txtqtyonhand" [(ngModel)]="selectedItem.qtyOnHand" class="form-control"
               id="qtyonhand"
               placeholder="Input Qty">
      </div>

      <button type="submit"
              class="btn btn-success">Save
      </button>

      <button type="button"
              (click)="updateItem(txtCode.value,txtDescription.value,txtUnitPrice.value,txtQtyOnHand.value)"
              class="btn btn-primary">Update
      </button>

      <button type="button"
              (click)="deleteItem(txtCode.value)"
              class="btn btn-danger">Delete
      </button>
      <br>

    </form>
  </div>

  <table class="table table-hover table-bordered">
    <thead class="bg-info">
    <tr>
      <th>Code</th>
      <th>Description</th>
      <th>Unit Price</th>
      <th>Qty On Hand</th>
    </tr>
    </thead>

    <tbody class="bg-light" id="tbody">
    <tr *ngFor="let item of items" (click)="selectedItem=item">
      <td>{{item.code}}</td>
      <td>{{item.description}}</td>
      <td>{{item.unitPrice}}</td>
      <td>{{item.qtyOnHand}}</td>
    </tr>
    </tbody>
  </table>

  <!--table End-->

  <div class="footer-text">Developed & Distributed By Udara Jayawardena</div>
</div>
