<nav class="navbar navbar-expand-lg navbar-light bg-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand light" href="#">SPA - POS System</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Order Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Items</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Others</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Here" aria-label="Search">
      <button class="btn btn btn-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<nav class="navbar-light bg-light">
  <div id="left-bar">
    <div id="profile-area">
      <img src="../../../assets/My.jpg" width="65%">
      <h5><b>UDARA JAYAWARDENA</b></h5>
      <h6>Be who you are and say what you feel, because those who mind don't matter, and those who matter don't
        mind.</h6>
      <hr class="bg-light">
    </div>

    <nav id="side-nav" class="color-bar">
      <ul>
        <div id="side">
          <a routerLink="dashboardcontent" routerLinkActive="active">
            <li><i class="fas fa-tachometer"></i>Dashboard Pane</li>
          </a>

          <a routerLink="customercontent" routerLinkActive="active">
            <li><i class="fas fa-users"></i>Customer</li>
          </a>

          <a routerLink="itemcontent" routerLinkActive="active" href="#">
            <li id="item"><i class="fas fa-cubes"></i>Item</li>
          </a>

          <a routerLink="ordercontent" routerLinkActive="active" href="#">
            <li id="order"><i class="fas fa-shopping-cart"></i>Orders</li>
          </a>

          <a href="#">
            <li id="employee"><i class="fas fa-user-tie"></i>Employees</li>
          </a>

          <a href="#">
            <li><i class="fas fa-cogs"></i>Settings</li>
          </a>

          <a href="#">
            <li><i class="fas fa-cogs"></i>System Configurations</li>
          </a>

          <a href="#">
            <li><i class="fas fa-cogs"></i>About Us</li>
          </a>
        </div>
      </ul>
    </nav>
  </div>

  <!--</div>-->

  <div class="col-sm-10">
    <!--<router-outlet></router-outlet>-->
  </div>
  <!--</div>-->
</nav>
